.first{
    display: flex;
    
}
.dribble{
  position:fixed;
    background-color: #F1CDD7;
     height: 550px;
    width: 500px; 
     
    
}
.first>div>div>img{
    width: 100px;
    background: transparent;
   
}
.first>div>div>h1{
   position: relative;
   font-size: 23px;
   color: #975a6f;
   font:  "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  left: 8px;
}
.first>div>div{
   margin-left: 50px;
    margin-top: 30px;
    width: 500px;
    
}
.second{
    position: absolute;
    left:750px;
    top:66px;
    width: 500px;
  background-color: white;
 height: 600px;
}
.second>div>button>span{
  position: relative;
  bottom: 5px;
  left: 8px;
}
.second>div>button{
    width: 15vw;
    height: 3vw;
    background-color:#096FB9;
    color: white;
    border: none;
    border-radius: 0.4em;
}
.second>div>button>img{
    background-color: white;
    position: relative;
    top: 3px;
   right: 8px;
}
.second>div{
    position: relative;
    right: 50px;
}
.second>h2{
    font: bold 24px/29px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.hr>hr{
    position: relative;
    right: 173px;
    border-top: 1px solid #e0e0e0;
    color: #6e6d7a;
width: 160px;
}
.hr>span{
    position: relative;
    left: 167px;
    bottom: 22px;
}
.hr2{
    position: absolute;
    right: 148px;
top:-7px;
width: 160px;
border-top: 1px solid #e0e0e0;
    color: #6e6d7a;

}
.member{
    box-sizing: border-box;
    position: absolute;
 
   bottom: 10px;
}
/* .form>div>input{
display: block;
border: none;
background-color: #e7e7e9;
box-shadow: none;outline: none; 

border-radius: 8px;
height: 3vw;
width: 13vw;
} */

.form{
    position: relative;
    display: flex;
    right: 5px;
}

.form>div{

margin-right: 15px;
}
.form>div>input[type="text"]{
    border: 1px solid transparent;
    appearance: none;
    transition: background-color 200ms ease, outline 200ms ease, color 200ms ease, box-shadow 200ms ease, -webkit-box-shadow 200ms ease;
}
.email{
   position: relative;
   top: 28px;
   right: 5px;
   
}

.email>div>input,.password>div>input{
    display: block;
border: none;
background-color: #e7e7e9;
box-shadow: none;
outline: none;
border-radius: 8px;
height: 3vw;
width: 27.7vw;
transition: background-color 200ms ease, outline 200ms ease, color 200ms ease, box-shadow 200ms ease, -webkit-box-shadow 200ms ease;
}
.password{
    position: relative;
    top: 55px;
    right: 5px;
}
.button{
    position: relative;
    top: 100px;
    right: 5px;
    
}
.button>button{
    color: white;
    background-color: #EA4C89;
    border: none;
    height: 3vw;
    width: 13vw;
    border-radius: 0.5em;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}